VITE_FIREBASE_API_KEY=AIzaSyDlC4ht8r8jqUncqggtKTZd2VJLaY2ob5w
VITE_FIREBASE_AUTH_DOMAIN=personal-todo-e3f2d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=personal-todo-e3f2d
VITE_FIREBASE_STORAGE_BUCKET=personal-todo-e3f2d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=652918695935
VITE_FIREBASE_APP_ID=1:652918695935:web:94ebb48504ebd6a90469ca
